USE [master]
GO
/****** Object:  Database [CONSULTORIO_LSTI]    Script Date: 26/10/2018 11:43:50 a.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'CONSULTORIO_LSTI')
DROP DATABASE [CONSULTORIO_LSTI]
GO
/****** Object:  Database [CONSULTORIO_LSTI]    Script Date: 26/10/2018 11:43:50 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'CONSULTORIO_LSTI')
BEGIN
CREATE DATABASE [CONSULTORIO_LSTI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONSULTORIO_LSTI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CONSULTORIO_LSTI.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CONSULTORIO_LSTI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CONSULTORIO_LSTI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONSULTORIO_LSTI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
